/node_modules
/package-lock.json
/tests/dist
/yarn.lock

# ignore build files
*.d.ts
*.js
!/@types/*.d.ts

# don't ignore test files
!/tests/**/*.js
!/.build/*

# don't ignore build config
!/kaba.js
!/sizereport.config.js
