/.DS_Store
/.build
/.github
/.gitignore
/.idea
/.npmignore
/.travis.yml
/browserstack.json
/kaba.js
/node_modules
/package-lock.json
/renovate.json
/tests
/tests-tsconfig.json
/yarn.lock

# ignore all .ts when publishing
*.ts
*.tsx
!*.d.ts
