///
/// Positions the `overlay-loader`
///
@mixin position-overlay-loader ($z-index) {
    .overlay-loader {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: $z-index;
    }
}
